# Node
node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log

# Logs and OS junk
*.log
.DS_Store
Thumbs.db

# Version control
.git
.gitignore

# Build artifacts
dist
build
*.tsbuildinfo

# IDE and tooling config
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# Docker-specific
Dockerfile*
docker-compose*.yaml
.env

# Temporary/dev files
*.swp
*.tmp